# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo prebuild native output
ios/
android/

# EAS build artifacts
*.keystore
*.jks
*.p12
*.mobileprovision

# Expo build cache
.expo/
.expo-shared/

# Metro / build
node_modules/
